<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcDemo:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMvcDemo_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcDemo" />
        </element>
      </element>
      <element id="library" level="project" name="lib" />
      <element id="javaee-facet-resources" facet="SpringMvcDemo/web/Web" />
    </root>
  </artifact>
</component>